# Ignore all files in the .idea directory
/.idea/*

# Ignore all files in the .venv directory
.venv

# Ignore node dependencies
node_modules/

# Ignore collected static files
staticfiles/

# Ignore all files in the __pycache__ directory
__pycache__
